@model VideoGameStorage.Models.GameSystem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameSystem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Games)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Games)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SystemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
